# domain.yml
---
# ---------------------------------------------------------------------------------------------------------------------#
entities:                                                                                                     # entities
# ---------------------------------------------------------------------------------------------------------------------#

# entities provided by duckling
- email  # i.e. help@abc.com
- phone-number  # i.e. 415-123-3444 / +33 4 76095663
- url  # i.e. http://abc.com
- time  # i.e. jutro / 11:45 / w nastpny pitek
- duration  # i.e. 2 godziny / 10 miesicy
- number  # i.e. 0.77 / 123 / osiem / 100K
- amount-of-money  # i.e. 10 zotych / 100 pln 30 groszy
- distance  # i.e. 10 km / 2 cm

# project entities
- feedback_value

# ---------------------------------------------------------------------------------------------------------------------#
intents:                                                                                                       # intents
# ---------------------------------------------------------------------------------------------------------------------#
- chitchat
- menu
- out_of_scope
- affirm
- deny
- stop
- explain
- showcase_car_loan
- feedback
- entered_data
- buy_products

# special intents for triggering some scenario cases by intents injection into tracker

- start_buy_products

# ---------------------------------------------------------------------------------------------------------------------#
slots:                                                                                                           # slots
# ---------------------------------------------------------------------------------------------------------------------#

# Rasa needs requested_slot as categorical to allow use it in stories to select right path
# related to what is requested in dialogs. This means every slot used by forms must be put here as values
# before can be used in stories.

# Was:
#  requested_slot:
#    type: categorical
#    values:
#      - vehicle_type
#      - vehicle_age
#      - loan_amount
#      - loan_length
# Currently our fallback action and supporting stories requires unfeaturized requested_slot to work properly. Don't touch this!
  requested_slot:
    type: unfeaturized

## config slots
  conf.use_generic_out_of_scope_intent_injection_in_fallback_action:
    type: bool
    initial_value: true

## runtime slots
  user_name:
    type: unfeaturized

  user_surname:
    type: unfeaturized

  user_photo:
    type: unfeaturized

  feedback_value:
    type: categorical
    values:
      - not_provided
      - positive
      - negative

  give_feedback_message:
    type: bool

  feedback_message:
    type: unfeaturized

## form slots
  meat_amount:
    type: unfeaturized

# slot used by custom fallback action
  out_of_scope_detected:
    type: bool

# debug slots  (ready to use actions for developers to quickly test sth etc).
  debug_flag:
    type: bool

# ---------------------------------------------------------------------------------------------------------------------#
actions:                                                                                                       # actions
# ---------------------------------------------------------------------------------------------------------------------#

## overridden Rasa actions
- action_restart
- action_default_fallback
- action_default_ask_affirmation  # related to TwoStageFallbackPolicy
- action_respond_faq

## debug actions
- action_debug_info
- action_debug_1
- action_debug_2
- action_debug_3

## project actions
- action_get_fb_user_profile_data
- action_utter_wrong_requested_slot_value
- action_utter_explain_requested_slot_value
- action_reset_requested_slot
- action_anything_else

## respond actions
- respond_chitchat

## utterance actions
- utter_menu
- utter_out_of_scope
- utter_ask_stop_buy_products
- utter_anything_else
- utter_buy_products_intro
- utter_continue_buy_products

- action_set_out_of_scope_detected
- action_set_out_of_scope_not_detected
- action_reset_out_of_scope_detected

# inject intent actions
- action_inject_intent_start_buy_products

# test actions (ready to use actions for developers to quickly test sth etc).
# (feel free to change its body if needed during your development)
- action_test_1
- action_test_2

# ---------------------------------------------------------------------------------------------------------------------#
forms:                                                                                                           # forms
# ---------------------------------------------------------------------------------------------------------------------#

- form_calculate_products_to_buy
- form_feedback

# ---------------------------------------------------------------------------------------------------------------------#
templates:                                                                                                   # templates
# ---------------------------------------------------------------------------------------------------------------------#

## templates related with default actions
  utter_default:
  # Temporary text for testing purposes
  - text: --- DEFAULT FALLBACK ---

  utter_default_ask_affirmation_headline:
  - text: Chyba nie zrozumiaem  Czy Twoj intencj byo...

  utter_ask_rephrase:
  - text: Nie zrozumiaem  Czy m贸gby sformuowa to troch inaczej?

  utter_restart:
  - text: Uruchomie mnie ponownie!

  utter_out_of_scope:
  - text: Przepraszam, w tym temacie Ci nie pomog. Mo偶e spr贸bujmy czego innego?.
  - text: Przykro mi, nie poradz sobie z tym. Spr贸bujmy czego innego.
  - text: Nie mog Ci w tym pom贸c, mo偶e spr贸bujmy czego innego?.
  - text: Nawet ja nie jestem doskonay - nie dam rady speni tej proby. Mog dla Ciebie zrobi co jeszcze?"

# buy products form
  utter_buy_products_intro:
  - text: A wic zamierzasz zrobi BARFowe zakupy dla swojego psiaka...

  utter_ask_stop_buy_products:
  - text: Czy chcesz zakoczy obliczanie BARFowych zakup贸w?

  utter_continue_buy_products:
  - text: W takim razie kontynuujmy.

# buy products form - slots
  utter_ask_meat_amount:
  - text: Na ile kilogram贸w misa chcesz zrobi zakupy?

  utter_explain_meat_amount:
  - text: >
          Podaj na ile kilogram贸w misa chcesz kupi podroby, wtrob i koci. \n\n
          Podana warto musi by wiksza od zera.

  utter_wrong_meat_amount:
    - text: Podae niepoprawn warto. Mo偶esz poda wartoci tylko wiksze od zera!

# buy products form - submit
  utter_summarize_form:
  - text: "Ok, czas na podsumowanie! \n\n Na {meat_amount} kg misa, musisz kupi: \n
          - {liver_amount} kg wtroby, \n
          - {offal_amount} kg podrob贸w, \n
          - {bones_amount} kg koci."

## templates related to feedback
  utter_ask_feedback_value:
  - text: Jak przebiega ta rozmowa?
    quick_replies:
    - title: 
      payload: '/feedback{"feedback_value": "positive"}'
    - title: 
      payload: '/feedback{"feedback_value": "negative"}'
    - title: Nie ch podawa
      payload: '/feedback{"feedback_value": "not_provided"}'

  utter_ask_give_feedback_message:
  - text: Czy chciaby jeszcze co doda, zostawi nam swoje sugestie co i jak mog zrobi lepiej?
    quick_replies:
    - title: Tak, chtnie!
      payload: /affirm
    - title: Innym razem
      payload: /deny

  utter_ask_feedback_message:
  - text: Super, napisz mi o tym!

  utter_thanks_for_feedback:
  - text: Dzikuj za informacj zwrotn, wykorzystam j, aby BARF-o-bot spenia jeszcze bardziej Twoje potrzeby i oczekwiania!

# proprietary templates
  utter_menu:
  - text: Cze {user_name}, mam na imi BARF-o-bot. Jestem chatbotem, kt贸ry wprowadzi Ciebie i Twojego psa w wiat BARFa, a tak偶e pomo偶e Ci w przygotowaniu porcji dla Twojego pupila ;)
    quick_replies:
    - title: Chc zrobi zakupy!
      payload: /buy_products
    - title: Mam pytanie o BARF
      # temporary it's buy_products intent
      payload: /buy_products

  utter_anything_else:
  - text: Co chciaby teraz zrobi?
    quick_replies:
      - title: Chc wr贸ci do menu
        payload: /menu
